<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/header.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/RNA_Seq_Workshop/">Home</a></li>
	        		<li><a href="/RNA_Seq_Workshop/questionnaire">Questionnaire</a></li>
		        	<li><a href="/RNA_Seq_Workshop/prerequisites">Prerequisites</a></li>
	        		<li><a href="/RNA_Seq_Workshop/software">Software</a></li>
	        		<li><a href="/RNA_Seq_Workshop/organizers">Organizers</a></li>
	    		</ul>
			</nav>
			<div class="container">
